@font-face {
  font-family: 'OpenDyslexic';
  src: url('assets/OpenDyslexic-Regular.woff2') format('woff2');
}

.protanopia {
  filter: url('#protanopia');
}

.deuteranopia {
  filter: url('#deuteranopia');
}

.tritanopia {
  filter: url('#tritanopia');
}

/* SVG filters for simulation */
svg {
  display: none;
}

html::before {
  content: "";
}
